---
title: Free Deed Poll Checklist
layout: layout.njk
---

<h1>Checklist</h1>

<p>
  Before you <a href="/start">create your free deed poll</a>, here are a few things you should check:
</p>

<ul class="deed-poll-checklist">
  <li>
    <input type="checkbox" id="checklist-citizenship">
    <label for="checklist-citizenship">
      You are a British citizen
    </label>
    <small>
      This website makes use of a feature of the law of England and Wales
      (it also works <a href="/faq/#scotland">in Scotland</a> and <a href="/faq/#northern-ireland">in Northern Ireland</a>),
      that only applies to British citizens
      (<a href="/faq/#other-countries">What about dual citizenship?</a>).
    </small>
  </li>

  <li>
    <input type="checkbox" id="checklist-age">
    <label for="checklist-age">
      You are 18 years of age or older (or 16, <a href="/faq/#under-18">with parental consent</a>)
    </label>
    <small>
      The procedure for
      <a href="/faq/#under-16">changing the name of a child under 16</a>
      is different,and more-complicated</a>.
    </small>
  </li>

  <li>
    <input type="checkbox" id="checklist-id">
    <label for="checklist-id">
      You have government-issued photo ID <em>(optional)</em>
    </label>
    <small>
      It's not essential, but if you have a passport, driving licence, or other government-issued photo ID,
      this will make it <em>much easier</em> for you to prove your change of name to institutions like banks.
      Note that you may need to renew your ID after changing your name, which can involve a fee.
    </small>
  </li>

  <li>
    <input type="checkbox" id="checklist-printer">
    <label for="checklist-printer">
      You have access to a printer
    </label>
    <small>
      You'll need to print out your deed poll. You might like to print multiple "original" copies.
      We recommend printing onto a heavyweight paper, like parchment paper.
      (<a href="/faq/#write-your-own">No printer?</a>)
    </small>
  </li>

  <li>
    <input type="checkbox" id="checklist-witnesses">
    <label for="checklist-witnesses">
      You can find two witnesses
    </label>
    <small>
      You'll need two people who know you personally, and preferably who are not close relatives, to
      witness your deed poll.
      <a href="/faq/#witnesses">Friends, neighbours, and co-workers are all good choices</a>.
    </small>
  </li>
</ul>

<p>
  If you've checked all of these boxes, you're ready to get started:
</p>

<p style="text-align: center;">
  <a href="/start" role="button">Create your deed poll</a>
</p>

<p>
  Or if you've still got questions, you might like to <a href="/faq">check the FAQ</a>.
</p>
