%input.hidden{:type => 'hidden', :name => 'type', :value => 'child'}
%input.hidden{:type => 'hidden', :name => 'hotlink_code', :value => @hotlink_code}

.wizard-panel.current
  %h2
    What's your child's
    %em old
    name?
  
  %p
    .control-group.input-append
      %input#on.text.required{:type => 'text', :name => 'on', :placeholder => "Your child's old name"}
      %a.btn.btn-primary.btn-next{:href => '#'} Next &raquo;

  %p
    %strong How should I write my child's name?
  %p
    Write your full name, including any middle names, completely. Do not include a title (e.g. Mr., Miss.).

  %p
    %strong Whose permission is needed to change my child's name?
  %p
    To change the name of a child, the permission of
    %em all
    living parents (or guardians acting in a parental role) is required.
    Normally, this means the
    mother and father as named on the child's birth certificate. However,
    it can sometimes have over meanings. For example, if a child is
    adopted, the child's adoptive parents become the legal parents. If
    the mother is married when the child is born, then her husband is
    usually considered to be the father, regardless of the child's
    biological parentage. For children born in most of the UK, a man who
    marries a woman who already has non-adult children becomes a legal
    parent to those children.
  %p
    If your situation is unusually complex, or it is not immediately
    apparent who the legal parents are, please seek legal advice.

-####################################################################################################-

.wizard-panel
  %h2
    What's your child's
    %em new
    name?

  %p
    .control-group.input-prepend.input-append
      %a.btn.btn-prev{:href => '#'} &laquo; Back
      %input#nn.text.required{:type => 'text', :name => 'nn', :placeholder => "Your child's new name"}
      %a.btn.btn-primary.btn-next{:href => '#'} Next &raquo;

  %p
    %strong Are there any restrictions on the name I choose?
  %p
    Legally-speaking, you may choose any name you like. However, your child should:

  %ul
    %li Have at least two names (a first name and a surname), though you may have more.
    %li Not change your name to imply a title that you do not have (e.g. changing your first name to Doctor).
    %li Spell your name using only characters in the Latin alphabet.
    %li Ensure that your name is pronouncable.

  %p
    For more information on choosing your name, see:
    %a{:href => '#'} choosing a name

  %p
    %strong Does my child have to agree with the new name?
  %p
    If your child is at least 10 years old, then they have a right to raise an objection - through the
    courts - if they do not approve of their new name. Naturally, you should consult with older children
    before changing their name.
  %p
    Younger children do not have a legal right to choose their own name, although they can of course
    change their name for themselves once they reach adulthood.

  %p
    %strong What will you do with this information?
  %p
    The name will only be used to generate your Deed Poll. We will not keep your
    personal information for any longer than is necessary to generate your document.


-####################################################################################################-

.wizard-panel
  %h2
    Are you changing your child's first name?

  %p
    %input.hidden{:type => 'hidden', :name => 'cfn', :value => '0'}
    %input#cfn.checkbox{:type => 'checkbox', :name => 'cfn', :value => '1'}
    %strong Yes
    (check this box if you're changing your child's first name)

  %p.clearfix
    %a.btn.btn-large.btn-prev.pull-left{:href => '#'} &laquo; Back
    %a.btn.btn-large.btn-primary.btn-next.pull-right{:href => '#'} Next &raquo;

  %p
    %strong Why are you asking this?
  %p
    If you're changing your child's first name, the wording of their Deed Poll needs to be slightly different. If your
    new first name is different from your old first name - even if you're just shortening it - you must check
    the checkbox. If your first name is the same, don't check it.

-####################################################################################################-

.wizard-panel
  %h2
    What is your child's date of birth?

  %p
    .control-group.input-prepend.input-append
      %a.btn.btn-prev{:href => '#'} &laquo; Back
      %select#dobd.required{:name => 'dobd'}
        - (1..31).each do |d|
          %option{:value => d}= d.ordinalize
      %select#dobm.required{:name => 'dobm'}
        - 12.times do |m|
          %option{:value => m + 1}= @month_names[m]
      %select#dobm.required{:name => 'doby'}
        - ((Time::now.year - 18)..Time::now.year).each do |y|
          %option{:value => y}= y
      %a.btn.btn-primary.btn-next{:href => '#'} Next &raquo;

  %p
    %strong Why are you asking for this?
  %p
    It is only possible to change your child's name if they are under the age of 18. If they are
    18 or older, then they are considered an adult and may - at their own discretion - change
    their own name by writing out their own Deed Poll.

-####################################################################################################-

.wizard-panel
  %h2
    What is your name?

  %p
    .control-group.input-prepend.input-append
      %a.btn.btn-prev{:href => '#'} &laquo; Back
      %input#pn.text.required{:type => 'text', :name => 'pn', :placeholder => "Your name"}
      %a.btn.btn-primary.btn-next{:href => '#'} Next &raquo;

  %p
    %strong If you are changing your name, too:
  %p
    If you plan to change your own name, as well as your child's, then you should change your own name
    %em first
    and then use your new name here.

-####################################################################################################-

.wizard-panel
  %h2
    Where do you live?

  .form-horizontal
    .control-group
      %label.control-label{:for => 'a'} Street address:
      .controls
        %input#a.text.required{:type => 'text', :name => 'a', :placeholder => 'Your street address'}
    .control-group
      %label.control-label{:for => 't'} Town:
      .controls
        %input#t.text.required{:type => 'text', :name => 't', :placeholder => 'Your town'}
    .control-group
      %label.control-label{:for => 'c'} County:
      .controls
        %input#c.text.required{:type => 'text', :name => 'c', :placeholder => 'Your county'}

  %p.clearfix
    %a.btn.btn-large.btn-prev.pull-left{:href => '#'} &laquo; Back
    %a.btn.btn-large.btn-primary.btn-next.pull-right{:href => '#'} Next &raquo;

  %p
    %strong What will you do with this information?
  %p
    Your address details will only be used to generate your Deed Poll. We will not keep your
    personal information for any longer than is necessary to generate your document.

-####################################################################################################-

.wizard-panel
  %h2
    What is the other parent's name?

  %p
    .control-group.input-prepend.input-append
      %a.btn.btn-prev{:href => '#'} &laquo; Back
      %input#pn.text{:type => 'text', :name => 'pn', :placeholder => "Your name"}
      %a.btn.btn-primary.btn-next{:href => '#'} Next &raquo;

  %p
    If you are the sole parent, leave this blank.

  %p
    %strong Who is the other parent?
  %p
    To change the name of a child, the permission of
    %em all
    living parents (or guardians acting in a parental role) is required.
    Normally, this means the
    mother and father as named on the child's birth certificate. However,
    it can sometimes have over meanings. For example, if a child is
    adopted, the child's adoptive parents become the legal parents. If
    the mother is married when the child is born, then her husband is
    usually considered to be the father, regardless of the child's
    biological parentage. For children born in most of the UK, a man who
    marries a woman who already has non-adult children becomes a legal
    parent to those children.

  %p
    %strong If the other parent is changing their name, too:
  %p
    If the other parent plans to change their own name, as well as your child's,
    then they should change their own name
    %em first
    and you should then use their new name here.

-####################################################################################################-

.wizard-panel
  %h2
    Who's going to witness it? (Witness #1)

  .form-horizontal
    .control-group
      %label.control-label{:for => 'w1_n'} Name:
      .controls
        %input#w1_n.text.required{:type => 'text', :name => 'w1_n', :placeholder => 'The name of the first witness'}
    .control-group
      %label.control-label{:for => 'w1_a'} Street address:
      .controls
        %input#w1_a.text.required{:type => 'text', :name => 'w1_a', :placeholder => 'Street address of the first witness'}
    .control-group
      %label.control-label{:for => 'w1_t'} Town:
      .controls
        %input#w1_t.text.required{:type => 'text', :name => 'w1_t', :placeholder => 'Town of the first witness'}

  %p.clearfix
    %a.btn.btn-large.btn-prev.pull-left{:href => '#'} &laquo; Back
    %a.btn.btn-large.btn-primary.btn-next.pull-right{:href => '#'} Next &raquo;

  %p
    %strong Who can be a witness?
  %p
    Your witness should be somebody who knows you personally, but is not closely related to you. A friend
    or co-worker is fine. Your spouse, sibling, parents or children are not. Your witness must be at least
    18 years old.

-####################################################################################################-

.wizard-panel
  %h2
    Who's going to witness it? (Witness #2)

  .form-horizontal
    .control-group
      %label.control-label{:for => 'w2_n'} Name:
      .controls
        %input#w2_n.text{:type => 'text', :name => 'w2_n', :placeholder => 'The name of the second witness'}
    .control-group
      %label.control-label{:for => 'w2_a'} Street address:
      .controls
        %input#w2_a.text{:type => 'text', :name => 'w2_a', :placeholder => 'Street address of the second witness'}
    .control-group
      %label.control-label{:for => 'w2_t'} Town:
      .controls
        %input#w2_t.text{:type => 'text', :name => 'w2_t', :placeholder => 'Town of the second witness'}

  %p.clearfix
    %a.btn.btn-large.btn-prev.pull-left{:href => '#'} &laquo; Back
    %input.btn.btn-large.btn-primary.btn-generate.pull-right{:type => 'submit', :value => 'Generate'}

  %p
    %strong Do I have to have two witnesses?
  %p
    No, but you should. If you want to make a Deed Poll signed by only one witness, just leave the boxes blank.
    But having a second witness helps to protect you in case the legitimacy of your Deed Poll is challenged.

  %p
    %strong This is the last question!
  %p
    You're almost there. When you click the "Generate" button, your Deed Poll will be generated, and you'll be able
    to print it off and sign it.
