---
permalink: fdp.css
---
{% include "../node_modules/@picocss/pico/css/pico.min.css" %}

/* Colous */
:root {
  --header-background-color: #D1E5FB;
  --header-color: #033452;
  --nav-background-color: #FCEFD9;
  --nav-color: #033452;

  @media (prefers-color-scheme: dark) {
    --header-background-color: #033452;
    --header-color: #EEEEEE;
    --nav-background-color: #312302;
    --nav-color: #BBBBBB;
  }
  &[data-theme="dark"] {
    --header-background-color: #033452;
    --header-color: #EEEEEE;
    --nav-background-color: #312302;
    --nav-color: #BBBBBB;
  }
}

/* Popover */
[popover] {
  max-width: 95vw;
  max-height: 95vh;
}

/* Popover backdrop */
::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* JS detection */
body.no-js .yes-js,
body.yes-js .no-js {
  display: none;
}

/* Header */
.site-header {
  background-color: var(--header-background-color);
  padding: 1rem 0;
}

.title-container {
  display: grid;
  grid-template: 'icon title' auto
                 'icon subtitle' auto / auto 1fr;
}

.title-icon {
  font-size: 3rem;
  margin: 0 0.4rem 0 0;
  grid-area: icon;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  grid-area: title;

  a {
    text-decoration: none;
    --pico-color: var(--header-color) !important;
  }
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  grid-area: subtitle;
  color: var(--header-color)
}

/* Nav */

.site-nav {
  background-color: var(--nav-background-color);
  color: var(--nav-color);

  ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  a {
    text-wrap: nowrap;
  }
}

@media (min-width: 560px) {
  .with-next-step::after {
    content: '→';
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--pico-color);
    padding-left: var(--pico-nav-element-spacing-horizontal);
  }
}

/* Main */

.site-main {
  min-height: 85vh;
}

/* Checklist page */

.deed-poll-checklist {
  display: flex;
  flex-direction: column;

  li {
    display: grid;
    grid-template: 'checkbox label' auto
                   'checkbox small' auto / auto 1fr;
    align-items: center;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px dotted #777;

    &:last-child {
      border-bottom: none;
    }

    input {
      grid-area: checkbox;
    }

    label {
      grid-area: label;
    }

    small {
      grid-area: small;
    }
  }
}

/* Rejection page */

#rejection-steps {
  li {
    margin-bottom: 1.5rem;
  }
}

/* Footer */

.site-footer {
  background-color: var(--nav-background-color);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8rem;
  }

  li {
    list-style: none;
    padding: 0 1.2rem;
    border-right: 1px solid var(--pico-color);
    color: var(--nav-color);

    &:last-child {
      border-right: none;
    }
  }
}

/* Printer-friendliness */

@media print {
  header, nav, footer {
    display: none;
  }
}
