%section#free
  %h3 Is this site really free?
  %p
    %strong
      The short version: yes.
  
  %p
    When I changed my name by Deed Poll, some years ago, I was ripped off by one of
    the many companies on the web that will produce you a very "official-looking"
    document for &pound;30+. There are plenty of them nowadays that'll do the same service
    for a tenner; but to me, that's still a tenner too much.
  
  %p
    Subsequently, I did a little research and I learned that in actual fact, you don't
    need to spend a penny to make a Deed Poll. Do you know what
    %em Deed Poll
    actually means? It means that it's a contract with straight edges and it's only
    signed by one person. That means that, legally speaking, you can write on the back
    of a napkin
    %em
      "I, [old name] of [address] have given up my name [old name] and have adopted for
      all purposes the name [new name]. Signed as a deed on [date] as [former name] and
      [new name] in the presence of [witness name] of [witness address],"
    sign it with your name (twice - once with your old and once with your new name),
    have a friend witness it, and
    %strong that's completely legitimate.
    
  %p
    The UK doesn't mandate any kind of central registry of names (if you live in England
    and Wales, you
    %em can
    optionally register your Deed Poll in the Central Office of the High Court, but I wouldn't
    recommend it to most people). The UK also doesn't have any significant restrictions on
    what name you can choose (
    %a{:href => '/restrictions'}><
      see here for information on what you
      %em can't
      do
    ), unlike some European countries, so if you want to take a silly name, that's your right.
  
  %p
    However, there are a few things you really ought to do. After all, when you send that
    Deed Poll you wrote on the back of a napkin to the Passport Office or the DVLA, they're
    just going to laugh at you and send it back. That's why it can really help to make it
    %em look
    a little bit more official, and make sure you've got the right wording that covers all
    of the legal bases. That's where this site comes in. I've done all of the dull background
    reading so that you don't have to.
  
  %p
    There are other sites that will provide free Deed Polls - there are links below. But this
    site is the only one I'm aware of that's completely ad-free, doesn't require your email
    address, doesn't restrict how many times you can use it or how often, and provides an
    easy-to-use wizard that should suit pretty-much every case. If you really want to make
    your own Deed Poll, that's fine: but I suggest that you make one here, first, and take
    a read, so you know what you need to put on it.
  
  %p
    Why am I doing this? Because I think that everybody has the right to change their name
    easily, cheaply, and without the risk of getting ripped off, like I did.
    %strong It's your name, and should should be allowed to do with it whatever you like.
    If you enjoyed using this tool and you think that it was good enough to be worth paying
    for, please instead consider
    %a{:href => 'http://www.samaritans.org/support_samaritans/donate/donate_online.aspx'}
      making a donation to Samaritans, instead.
    Thank you.
  
  %p
    Other sites that do the same thing:
  
  %ul
    %li
      %a{:href => 'http://freedeedpoll.co.uk/', :rel => 'nofollow'} free deed poll
      %br
      If you don't mind looking at ads, having limits on how many Deed Polls you can request,
      having to give away your email address to get a password to unlock the Deed Poll you
      asked for, and you don't need any of the special options offered, you could use these
      guys instead, I suppose.
    %li
      %a{:href => 'http://www.gorge.org/experiences/deedpoll.shtml', :rel => 'nofollow'} Flash Wilson's guide
      Here's a really great "do it yourself" guide to changing your name. There's no wizard,
      though, so you'll have to be happy to copy-and-paste and then make the changes yourself.
    %li
      %a{:href => 'http://en.wikipedia.org/wiki/Deed_of_change_of_name', :ref => 'nofollow'} Wikipedia article of "Deed of change of name"
      Another great guide to "doing it yourself": just copy, paste, adapt, and print. But if you'd rather make
      it even easier, just
      %a{:href => '/'} fill in the form
      on this website.