.hero-unit.remote-container
  %img.logo.visible-desktop{:src => '/img/deed-poll.png', :alt => 'Deed Poll'}
  %h1 Change your name today!
  %p
    You're just a few clicks away from legally changing your name, for free. Pick an option
    to get started, or scroll down to read more about how it works.
  %p.js.buttons
    %a.btn.btn-primary.btn-large.remote{:href => '/own'} Change my own name &raquo;
    %a.btn.btn-info.btn-large.remote{:href => '/child'} Change my child's name &raquo;
  %p.no-js.robots-nocontent
    %span.label.label-important JavaScript is disabled!
    JavaScript is required to use this service. Please enable JavaScript in your web browser.

.row
  .span4
    %h2 How does this work?
    %p
      %strong You'll answer a few questions, then print a Deed Poll.
    %p
      Then just sign your new Deed Poll and have it witnessed by somebody else: they'll need to sign it too.
      We suggest that you print it onto nice, heavy paper (ask a stationer for
      = succeed ")," do
        %em parchment paper
      and
      that you make two or three copies at the same time.
    %ul
      %li
        %a{:href => "#"} What do I do next?
      %li
        %a{:href => "#"} Who do I send my Deed Poll to?

  .span4
    %h2 Is this really free?
    %p
      %strong Yes. This is a completely free service.
    %p
      As a British citizen, you have the right to be known by any name you choose. To show that you're serious about
      adopting your new name (and abandoning your old one), you can create a Deed Poll. This site helps you to do that,
      quickly and easily, and without any expensive lawyers.
    %ul
      %li
        %a{:href => "#"} Why is this free?
      %li
        %a{:href => "#"} How is this free?
      %li
        %a{:href => "#"} What do I need to get started?

  .span4
    %h2 Who's behind this?
    %p
      %strong
        This site is run by
        = succeed "." do
          %a{:href => "http://www.scatmania.org/"} Dan Q
    %p
      Yes, that's his real name.
    %p
      Dan set this site up in 2011 to try to help people change their names easily and for free. He believes that
      everybody should be free to be known by whatever name they want, and that it should be as easy as possible
      for them to do so.
    %ul
      %li
        %a{:href => "#"} Can I see how this site works?
      %li
        %a{:href => "#"} Is &quot;Dan Q&quot; really your real name?
