!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
= "<!--[if gt IE 8]><!-->"
%html.no-js
  = "<!--<![endif]-->"
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Free Deed Poll - legally change your name for free, without a solicitor
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :media => 'all'}/
    %link{:href => "/css/bootstrap-responsive.min.css", :rel => "stylesheet", :media => 'screen'}/
    %link{:href => "/css/deed.css", :rel => "stylesheet", :media => 'all'}/
    %script{:src => "/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => '/'}
            Free Deed Poll
            %small .org.uk

    .container
      = yield

      %hr/
      %footer
        %p
          &copy;
          %a{:href => "http://www.scatmania.org/"} Dan Q
          2013
          |
          This site is
          %a{:href => 'https://github.com/avapoet/freedeedpoll'} completely open-source

  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')
  %script{:src => "/js/vendor/bootstrap.min.js"}
  %script{:src => "/js/deed.js?#{Time::now.to_i}"}
