%section#privacy
  %h3 Privacy Policy
  %p
    %strong
      The short version: we don't keep your data and we don't use cookies. We
      keep only aggregate, non-personally-identifiable information for statistical
      purposes.
  
  %p
    This site collects personally-identifiable information for the purpose of
    generating customised content (in this case, a Deed Poll document suitable
    for printing and immediate use). This information is collected only for the
    specified purpose and is not retained.

  %p
    Non-personally-identifiable information (for example, the nature of the
    service provided and the town and county of Deed Poll applications) may be
    aggregated for statistical purposes. This site also logs IP addresses in
    order to produce analyses on usage trends.
  
  %p
    This site does not use cookies or offline data.