---
title: What do do if your Free Deed Poll is rejected
layout: layout.njk
---

<h1>My Deed Poll was rejected!</h1>
<p>
  Sometimes, an organisation might reject a deed poll and refuse to update their records with your
  new name. This is true regardless of whether it's one created by FreeDeedPoll.org.uk or one
  produced by anybody else.
</p>
<p>
  The biggest culprits for this are often high street banks, whose interpretation of rules designed
  to prevent financial fraud (for which they have significant liability) can be somewhat strict,
  making them risk-averse. But it can happen with other organisations too.
</p>
<p>
  If you're one of the unlucky few to whom this happens, here's a series of steps you can take to
  try to solve the problem, in approximate order that you might try them:
</p>

<ol id="rejection-steps">
  <li>
    <strong>Update your government-issued IDs first</strong><br>
    If you haven't yet gotten a passport, driving license, or other government-issued ID updated
    with your new name, do that first. It's hard for an organisation to refuse to correct your name
    when you can turn up in person and show them your official ID in that name.<br>
    <br>
    If you're having difficulty getting your government ID updated, this is a tougher situation!
    Getting one piece updated (e.g. your driving license) can make it much easier to get a second (e.g.
    your passport), as the government does not want you travelling under two different name (e.g.
    across the Irish border using your driving license and then returning using your passport!). But
    in general you'll need to go through whatever hoops government agencies throw in your way.
    In particular, very-unusual names
    (<a href="https://danq.me/2007/04/28/a-note-from-the-passport-office/">like the author of this list's</a>)
    are more-likely to encounter difficulty, but a discussion about exactly what they need to see
    will yield a happy outcome.
  </li>

  <li>
    <strong>Bring a plethora of evidence</strong><br>
    Turning up at your bank with all of the evidence you would need to <em>open a new account</em>
    (e.g. photo ID and proof of address in your new name) is usually enough to convince them to
    accept your change of name. Calmly explaining that you could now open a new account either with
    them or one of their competitors can make a word of difference to a bank.
  </li>

  <li>
    <strong>Talk with your feet</strong><br>
    If you're looking for a quick solution that puts the burden on you, you might be able to switch
    to a competitor. It's not an option for everybody, but you could consider shopping-around rather than
    supporting a company who is unwilling to respect your legal rights: changing banks is pretty quick
    and easy these days, and
    <a href="https://www.moneysavingexpert.com/bank-accounts/">there are often perks available for switching</a>.
  </li>

  <li>
    <strong>Ask what evidence they require</strong><br>
    Sometimes organisations have a particular idea about what an "official" deed poll is. In some
    cases, they just need education: following
    <a href="https://www.theguardian.com/money/2013/jun/29/deed-poll-websites-avoid">some investigative journalism</a>
    in 2013, many organsiations are more-understanding than they once were (feel free to show them
    that article). In other cases,
    <a href="https://danq.me/2020/07/18/santander-deed-poll/">banks have made out-of-court settlements including financial payments as apologies</a>
    to people when they've realised that they were in the wrong all along.<br>
    <br>
    Asking what evidence they require can be the first step in finding a middle-ground solution.
    Then, you can decide whether to agree to them (e.g. by getting some other ID sorted first) or
    educate them about their misunderstanding.
  </li>

  <li>
    <strong>Be relentless</strong><br>
    Be polite and respectful, but don't be afraid to be a thorn in their side too. If you don't get a reply
    to a message, follow-up once a week. If you get a reply to say they're looking into it but you don't hear
    back, follow-up once a week. If the person you're dealing with can't help, ask who <em>can</em> help and
    whether your case can be escalated to them. Don't let anybody forget that they're supposed to be updating
    your details.
  </li>

  <li>
    <strong>Leverage the DPA2018/GDPR</strong><br>
    The Data Protection Act 2018 (the UK's implementation of the EU's GDPR) gives you the right to
    require that organisations correct any incorrect personal information they hold about you.<br>
    <br>
    If you've provided what you consider to be sufficient evidence of your change of name, which should
    include your deed poll, a piece of photo ID with your new name, and a proof-of-address in your new name,
    and they're still refusing, then you're in an extremely strong position to make a demand under this
    regulation.<br>
    <br>
    Write to the organisation, stating that they should consider your letter to be a "right to rectification"
    request under the DPA2018/GDPR. State that you believe that they are knowingly continuing to process outdated and
    incorrect personal information about you, despite you having proven that this data is wrong, and ask
    that they correct it immediately. Enclose copies of all the evidence you've shown them previously.<br>
    <br>
    If you don't get any response within a couple of weeks, follow-up to check that they received it. If
    you don't get a satisfactory response within 28 days,
    <a href="https://ico.org.uk/make-a-complaint/data-protection-complaints/">escalate the matter to the Information Commissioner's Office (ICO)</a>.
    The ICO is empowered to impose heavy fines on organisations that violate these regulations, and
    organisations are often afraid of such an outcome and will quickly their mistakes to avoid it once
    you've shown that you're willing push ahead with this action.
  </li>
</ol>

