%section#restrictions
  %h3 Restrictions
  %p
    There are a handful of restrictions on what names you can have, under British law. If
    you're considering changing your name to an "unusual" one, you might want to be aware of
    these:
  %ul
    %li You must have at least two full names.
    %li Your name must be pronouncable.
    %li You may not use punctuation, except for hypens (to link double-barelled names) or apostrophes (in surnames like O'Brien).
    %li Your name must not be vulgar, offensive, or blasphemous.
    %li
      Your name must not imply that you have a status or honour that you do not: for example, you cannot take "Lord", "Princess", or
      "Professor" as a first name (unless, in theory at least, you already have the right to use that word as a title).
    %li You cannot change your name for fraudulent purposes (e.g. to pretend to be somebody else or to attempt to escape from a legitimate debt).
    %li
      If you are a married woman changing your surname from the one you share with your husband to different one,
      and you wish to register your Deed Poll with the Central Office of the High Court, there are archaic laws that
      mean that you may require your husband's permission, first. Seek legal advice.

  %p
    You may or may not specify your title (Mr, Mrs, Miss, Ms.) on your Deed Poll. Most
    people seem not to. Regardless of your status or qualifications, any man is permitted
    to use Mr, and any woman is entitled to use Mrs, Miss, or Ms. (regardless of whether
    or not she is married). A transgender person may choose to use a title which matches
    their gender identity. Anybody may use an honourific title (e.g. Dr, Capn.) only if
    they posess the relevant qualification or are bestowed with the relevant honour.
  
  %p
    You ought to talk to those people in your life who may have an opinion on the matter
    before you change your name - although, if you're over 18, there's no requirement to
    do so. Consider the impact that your name change will have upon your loved ones as well
    as on your standing in any professional organisations of which you are a part.
  
  %p
    Finally, if you are changing your name to be the same as that of a celebrity or famous
    person, be aware that if you subsequently perform business in the same sector as them
    (for example, if you change your name to David Bowie and go on to start a musical career),
    you may well be sued for trademark infringement.
  
  %p
    Other than that, you can pick any name you like! In many European countries there are significant
    restrictions - or even lists of "allowable" names - that you can use, but Britain is remarkably
    liberal about the whole process: pick a name that suits you!
