.hero-unit
  %h1 Your Deed Poll is ready

  %p
    Click on a button below to view or download your Deed Poll as a PDF file.
    Print it out and sign it.

.row
  .span2

  .span2.text-center
    %img#view-deed-poll-icon{:src => '/img/deed-poll-pdf.png', :alt => 'Deed Poll (PDF)'}
    %hr

    %form.with-new-window-option{:method => 'post', :action => '/deed-poll.pdf', :target => '_blank'}
      - @decoded_params.reject{|k,v| k == 'hotlink_code'}.each do |k,v|
        %input.hidden{:type => 'hidden', :name => k, :value => v}
      %input.hidden{:type => 'hidden', :name => 'hotlink_code', :value => @hotlink_code}
      %input#view-deed-poll.submit.btn.btn-large.btn-primary{:type => 'submit', :value => 'View'}

    %form.with-new-window-option{:method => 'post', :action => '/deed-poll.pdf'}
      - @decoded_params.reject{|k,v| k == 'hotlink_code'}.each do |k,v|
        %input.hidden{:type => 'hidden', :name => k, :value => v}
      %input.hidden{:type => 'hidden', :name => 'hotlink_code', :value => @hotlink_code}
      %input.hidden{:type => 'hidden', :name => 'output', :value => 'attachment'}
      %input.submit.btn{:type => 'submit', :value => 'Download'}

  .span1

  .span5
    %h3 Printing tips
    %ul
      %li Print onto A4 paper.
      %li Use a nice, heavy paper, such as parchment paper, to give it a professional finish.
      %li
        Make two or three original copies, by printing and signing it several times.
        Some organisations will insist on seeing an original, not a photocopy, so it's faster
        to send off several originals at the same time.

    %hr

    %h3 So that's it?
    %p
      %strong Yes!
      As soon as you (a) sign that document and (b) start using your new name, you've changed your name.
      Congratulations!
    %p
      You still need to tell all of the people you do business with that you've changed
      your name. Scroll down for tips, and template letters.

  .span2

- if @bookmarkable
  .row
    .span2
    .span8
      .alert.alert-success
        %i.icon-star
        You can bookmark this page and come back to it at any time.
        %a.has-popover{:href => '#', 'data-title' => 'How does this work?', 'data-content' => "We don't keep any of your personal information, so the entire web address of this page contains everything you typed in (in an encoded format): that's why the web address is so long! This means that you can bookmark this page and come back to it later, but we don't have to store your details.", 'data-placement' => 'bottom' } How does this work?
    .span2

.row
  .span12

    %h3 What next?

    %p
      This checklist should help you to contact everybody you might need to tell about your new name:

    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th People to tell
          %th{:colspan => 2} How to tell them
      %tbody
        %tr
          %th Friends and family
          %td
            Don't forget to tell your friends and family that you've changed your name!
            %br
            You might like to put a message out on your favourite social networks, too.
          %td
            %a{:href => "http://twitter.com/?status=Just changed my name to #{@decoded_params[:nn]} using freedeedpoll.org.uk", :target => '_blank'}
              %img{:src => '/img/twitter.png', :alt => 'Tweet about your new name'}
            %a{:href => "http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.freedeedpoll.org.uk%2F", :target => '_blank'}
              %img{:src => '/img/facebook.png', :alt => 'Facebook about your new name'}
            %a{:href => "https://plus.google.com/share?url=http%3A%2F%2Fwww.freedeedpoll.org.uk%2F", :target => '_blank'}
              %img{:src => '/img/gplus.png', :alt => 'Google+ about your new name'}

        %tr
          %th Passport Office
          %td
            If you have a passport, you should update it early on, because this will provide you with
            government-issued, photographic identificiation under your new name, which will make it
            easier to prove your identity to other organisations.
            %br
            You will be charged for the new passport, but it will have an extension on it of
            up to nine months (if you had time left on your old passport).
          %td
            %a{:href => 'https://www.gov.uk/renew-adult-passport'} How to renew your passport
            %br
            Be sure to check 'change to existing passport' if applying online, and use your
            %em new
            signature. You will need to post an original Deed Poll to the Passport Office.

        %tr
          %th DVLA
          %td
            If you have a driving license - including a provisional one - you should update it early
            on, because this will provide you with government-issued, photographic identificiation
            under your new name, which will make it easier to prove your identity to other organisations.
            %br
            So long as you have both parts of your license, there is no charge for this service.
            Note that you do not need to send a new photo.
          %td
            Fill in a form D1 (D2 if you drive a bus or lorry). You can get this from the Post Office,
            or
            %a{:href => 'https://www.dvla.gov.uk/dvla/onlineservices/order_forms.aspx'} get one posted to you
            by the DVLA.

        %tr
          %th Other photographic ID
          %td
            If you have other photographic ID - e.g. a proof-of-age card under the
            %a{:href => 'http://www.pass-scheme.org.uk/'} PASS scheme
            (Validate UK, CitizenCard, YoungScot, etc.), you'll probably want to get this
            updated promptly.
          %td
            None of the schemes we checked have a published policy on name changes. You'll
            probably need to request an entirely new card.

        %tr
          %th Bank / Finance & Loan Companies / Credit cards
          %td
            Advising your bank of your new name early on is important, or else you will be unable to
            accept cheques in your new name, and your photographic ID will not match the details that
            your bank has on file for you (which could make proving your identity difficult if you
            lose your bank card!). It's especially important that you advise any organisation from
            which you've taken our a loan, to ensure that they don't think that you're trying to
            fraudulently escape from your debt.
          %td
            Visit your bank in person, or
            %a{:href => '/docs/letter-to-bank.doc'} download a template letter
            to send.

        %tr
          %th Inland Revenue
          %td
            If you are self-employed, you receive tax credits or benefits, or you are repaying a student
            loan, then you must tell the Inland Revenue about your new name.
            %br
            If not, then you may let your employer tell them on your behalf.
          %td
            %a{:href => 'http://www.hmrc.gov.uk/report-changes/individual/name-address.htm'}
              Report your change of name to HMRC
            %br
            You can report the change online, by telephone, or post.

        %tr
          %th Employer / Educator
          %td
            If you are employed, you should tell your employer your new name. If you're in education, you
            should tell your school/college/university your new name. Note that it is usually not possible
            to have your educational certificates re-issued under your new name, so you may need to
            also present your Deed Poll when proving your qualifications in future.
          %td
            Tell them in person, or
            %a{:href => '/docs/letter-general.doc'} download a template letter
            to send.

        %tr
          %th Companies House / Charity Commission
          %td
            If you are the director of a company or the trustee of a charity, you'll need to inform Companies
            House and/or the Charity Commission about your name change.
          %td
            Use
            %a{:href => 'http://www.companieshouse.gov.uk/forms/generalForms/CH01_change_of_directors_details.pdf'} Form CH01
            to tell Companies House that you've changed your name. The Charity Commission can be advised
            %a{:href => 'http://www.charitycommission.gov.uk/Charity_requirements_guidance/Accounting_and_reporting/Notifying_of_changes/Add_or_remove_trustees_index.aspx'} via their website
            of name changes.

        %tr
          %th Insurance companies
          %td
            Some kinds of insurance might be invalid (and will almost certainly be harder to claim)
            if they haven't got your current name. Don't forget to write to the people who provide
            your car insurance, home insurance, life insurance, health insurance, mobile phone
            insurance, etc.
          %td
            %a{:href => '/docs/letter-to-insurance.doc'} Download a template letter
            to send.

        %tr
          %th Utility companies
          %td
            Updating your name with your utility companies (electricity, gas, water, sewerage,
            telephone, broadband) is worth doing promptly, as your bills from thse - like your
            bank statements - are valuable proofs of address.
          %td
            %a{:href => '/docs/letter-to-utility.doc'} Download a template letter
            to send.

        %tr
          %th Doctor / Dentist
          %td
            Contact your doctor and/or dentist to ensure that their records, and central NHS records,
            are updated with your new name. This is important, because it'll make it faster for them
            to find your medical notes if you are admitted to hospital after an accident.
          %td
            Visit your doctor's receptionist in person, or 
            %a{:href => '/docs/letter-to-doctor.doc'} download a template letter
            to send.

        %tr
          %th Local authority / Electoral roll
          %td
            Updating your local authority will ensure that your council tax and other bills will be
            sent to your correct name. There's usually no rush to ensure that the electoral roll is
            updated, but if an election is planned soon then you might like to ensure that you're
            registered to vote as soon as you get photographic ID issued with your new name.
          %td
            %a{:href => '/docs/letter-to-local-authority.doc'} Download a template letter
            to send. If you need to,
            %a{:href => 'http://www.aboutmyvote.co.uk/register_to_vote.aspx'} register to vote
            under your new name.

        %tr
          %th Pension / Investments
          %td
            If you have a pension (other than one provided by your current employer, who you've
            already contacted), or have investments (including Premium Bonds), you should have
            these updated with your new name.
          %td
            %a{:href => '/docs/letter-to-investment.doc'} Download a template letter
            to send.

        %tr
          %th TV Licensing
          %td
            If you have a television license, you should have this updated with your new name.
          %td
            %a{:href => 'https://www.tvlicensing.co.uk/update-your-details/'} Update your details online

        %tr
          %th Police
          %td
            If you have any outstanding criminal convictions, your are on probation, or you are on the Sex
            Offenders' Register, then you are required to inform the police promptly (within between three
            and eight days, depending on the nature of conviction).
          %td
            Attend a police station, taking photographic ID in your old name, and an original Deed Poll,
            or contact your probation officer.

        %tr
          %th Online accounts / Social networks / Email
          %td
            Your old name is probably held on numerous websites: consider the online shops you use, as
            well as your profiles on any social networking or blogging websites. Don't forget to
            change your name in your email account and/or signature, too.
          %td
            Log in and change them. Some sites, such as Facebook, may require that you scan a copy
            of your Deed Poll if they deem your name to be suspicious.

        %tr
          %th Motoring organisations
          %td
            If you're with the AA, Green Flag, the RAC, or another motoring association, you should
            tell them your new name (otherwise you'll have to remember to use your old name when your
            car breaks down).
          %td
            Contact them by telephone, or
            %a{:href => '/docs/letter-to-motoring-association.doc'} download a template letter
            to send.

        %tr
          %th HM Land Registry
          %td
            If you own land or property, you ought to advise HM Land Registry of your new name,
            so that their records can be updated. This helps to ensure that your ownership of the
            property can not be questioned; for example, if you die.
          %td
            Send the details of your property along with a copy of your Deed Poll and an explanatory
            letter to
            %a{:href => 'http://www.landreg.gov.uk/regional/'} the relevant office
            of the Land Registry.

        %tr
          %th Your Will
          %td
            If you have a Will - and you should - then you ought to update that with your new name
            and signature.
          %td
            Create a new Will, ensuring that it states that it supercedes all previous Wills,
            with today's date and your new name. Sign it, and store it safely somewhere that it
            will be found by your next of kin. Destroy any previous Wills, if possible.

        %tr
          %th Store cards / Reward schemes / Library card
          %td
            It's not urgent, but you ought to update your store cards and reward schemes (supermarkets,
            video clubs, etc.)  as well as your library card, if you have them.
          %td
            Either visit their websites or send them a letter -
            %a{:href => '/docs/letter-general.doc'} here's a template
            \- or visit in person.

.row
  .span12
    %h3 Tell us about your experience!
    %p
      We'd love to hear about your experience of using this service. Please
      %a{:href => 'http://www.surveymonkey.com/s/7TX7SBS'} fill in our feedback survey
      to let us know what you thought.

    %p.clearfix
      %a.btn.btn-large.pull-right{:href => 'http://www.surveymonkey.com/s/7TX7SBS', :target => '_blank'} Give us feedback &raquo;

.row
  .span12
    %h3 Did this site help you?
    %p
      There are lots of sites on the Internet that will try to sell you Deed
      Poll services, typically for between &pound;10 and &pound;40 each. We
      hope that this site helped you to change your name without the expense.
    %p
      If it did, please consider making a donation to one of the following
      charities:

#charities.row
  .span4.text-center
    %a{:href => 'http://www.samaritans.org/support-us/donate-online'}
      %img{:alt => 'Samaritans', :src => '/img/charities/samaritans.png'}
  .span4.text-center
    %a{:href => 'http://www.greatnorthairambulance.co.uk/online/'}
      %img{:alt => 'Great North Air Ambulance', :src => '/img/charities/great-north-air-ambulance.png'}
  .span4.text-center
    %a{:href => 'http://www.mermaidsuk.org.uk/index.php/donate'}
      %img{:alt => 'Mermaids', :src => '/img/charities/mermaids.jpg'}

