%section#special
  %h3 Special Circumstances?
  %p
    This tool can generate a variety of different Deed Poll types, and it's important to pick
    the right one for you. When you're ready to return to the form, click on the header at the
    top of the page.
    %strong Choose the first option that matches your situation.
    Here are the options:
  
  %h4 Normal Deed Poll
  %p
    If
  %ul
    %li you were born in United Kingdom (or in a British Overseas territory in 1983 or later), OR
    %li you inherited British nationality as a result of one or both of your parents meeting the above condition, OR,
    %li your parents were considered to have settled in the United Kingdom (or in a British Overseas territory in 1983 or later) at the time of your birth,
  %p
    and you have two witnesses (people who know you personally but who are not your family), then this
    is the right kind of Deed Poll for you. This kind of Deed Poll is the best choice for virtually every
    British person who wants to change their name.
  
  %h4 Normal Deed Poll (1 witness)
  %p
    If you would be able to meet the conditions of the Normal Deed Poll, above, but only have
    one witness, then this is the Deed Poll for you. Fill in the details of the witness into only the
    First Witness section of the form. Having only one witness increases the risk that your Deed Poll
    will be rejected, especially by government agencies, so consider postponing your name change until
    a second witness can be found.
  %p
    If you are not able to find anybody who can witness your Deed Poll, please consider seeking legal
    advice.

  %h4 Colonies 11(1)
  %p
    Choose this option if, on 1st January 1983, you were resident in a British Overseas territory,
    and you at that time had the right of abode in the United Kingdom under the Immigration Act 1971.

  %h4 Abandonment clause
  %p
    If you were found abandoned in the United Kingdom as a newborn baby (or in a British Overseas
    territory in 1983 or later) and as a result inheritied British citizenship under clause 1(2)
    of the British Nationality Act 1981, choose this option.

  %h4 Descent clause
  %p
    If you were born outside of the United Kingdom or her qualifying territories, and either your father
    or mother was that that time a British citizen, choose this option.

  %h4 Registration 4C
  %p
    Choose this option if you were born between 1961 and 1983, outside of the United Kingdom or her qualifying
    territories, and you were subsequently admitted as a British citizen under section 4C of the
    British Nationality Act 1981.

  %h4 None of the above
  %p
    If none of the above matches your situation, you will need to seek legal advice as to the correct
    wording of your Deed Poll. Examples of complex cases would include if:
  %ul
    %li you were not a British citizen until your marriage to a British citizen qualified you for citizenship under the Nationality, Immigration and Asylum Act 2002
    %li you had dual nationality in both Eire and Great Britain on 1st January 1949
    %li you have regained a previously-surrendered British citizenship at any point during your life
    %li you are currently detained under any Mental Health Act
  %p
    People in these and other special situations may need special wording on your Deed Poll, which which
    this site cannot help.
      
