---
title: Generate your Free Deed Poll
layout: layout.njk
---

<h1>Create your deed poll</h1>

<div class="no-js">
  <p>
    This part of the website requires JavaScript to be enabled, but your browser
    hasn't managed to run it.
  </p>
</div>

<form id="deed-poll" class="yes-js">
  <p>
    <label for="old-name">Former name:</label>
    <input type="text" id="old-name" autocomplete="name">
    <small>
      The name you used <em>before</em> you changed your name. Enter your full name, but do
      <strong>not</strong> include any title (e.g. Mrs, Dr, Mr) or suffix (e.g. PhD, Esq).
    </small>
  </p>
  <p>
    <label for="new-name">New name:</label>
    <input type="text" id="new-name" autocomplete="name">
    <small>
      Your new name. Enter your full name, but do <strong>not</strong> include any title
      (e.g. Mrs, Dr, Mr) or suffix (e.g. PhD, Esq).
    </small>
  </p>
  <p>
    <button type="submit">Create Deed Poll</button>
  </p>
</form>
