%section#what_next
  %h3 What next?
  %p
    You've changed your name: what now?
  
  %p
    You ought to start by contacting all of the people with whom you do business and
    inform them of your new name. This is a legal necessity: you can't "forget" to
    tell your credit card company and hope that they'll never find you, because they
    probably will and you'll be guilty of fraud.
  
  %p
    The top two you'll want to contact are right at the top of the list, because doing these
    early on will give you photographic ID in your new name which you can use to prove your
    identity (and which may streamline the process of changing your name with the others):
    
  %ul
    %li
      Passport Office
      %br
      They'll want an original Deed Poll (not a photocopy). Make several "originals" so
      you can get started with this earlier. You'll need to pay for a renewal of your
      passport, and it'll take time to issue a new one, but this will give you photographic
      ID with your new name, which can be used to accelerate the process of changing your
      name elsewhere.
    %li
      DVLA
      %br
      Getting your drivers' license changed gives you another form of photographic ID
      with your new name. Pick up a form D1 and fill it in, and send another "original" to
      them. Don't forget to have them update your Vehicle Registration Document, if you
      own a car, too.
    %li
      Other photo ID
      %br
      Got a Prove It! card or other widely-respected photographic ID? Get these changed too,
      as the sooner you do this, the easier everything else is.
    %li Your employer, school, college, or university.
    %li Banks, building societies, credit cards, and mortgage providers.
    %li Insurance companies.
    %li Finance and loan companies.
    %li Utility companies (gas, water, sewerage, electricity, telephone, mobile telephone, Internet, etc.).
    %li Inland Revenue (ensure that they update your National Insurance records, too).
    %li Doctor & dentist. They will update your NHS record on your behalf.
    %li Professional bodies, memberships, clubs and societies.
    %li TV Licensing.
    %li HM Land Registry (if you own land or property).
    %li Local authority (for council tax payment, electoral roll, etc.).
    %li Investment companies, premium bonds, pension funds, etc.
    %li Store cards and reward schemes.
    %li Magazine subscriptions.
    %li Online accounts and social networking profiles, if appropriate.
    %li Police (if you have outstanding criminal convictions or are on the Sex Offenders' Register).
  
  %p
    Don't forget to practice your new signature!