/* Core styles */

html.no-js .js,
html.js .no-js {
  display: none;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/* Brand */

.navbar-inverse .brand {
  color: #ddd;
}

.navbar-inverse .brand small {
  color: #999;
}

.hero-unit .logo {
  float: right;
  height: 230px;
}

/* App */

.hero-unit .buttons {
  text-align: center;
}

.hero-unit .buttons .btn {
  margin: 10px;
}

.wizard-panel {
  display: none;
}

.wizard-panel.current {
  display: block;
}

.wizard-panel .input-append input,
.wizard-panel .input-append a,
.wizard-panel .input-prepend input,
.wizard-panel .input-prepend a,
.wizard-panel .input-append select,
.wizard-panel .input-prepend select {
  height: 31.5px;
  line-height: 31.5px;
  font-size: 28px;
}

.wizard-panel .input-append select,
.wizard-panel .input-prepend select {
  border: 0;
  height: 41px;
  background: transparent;
  outline: none;
  color: #08c;
}

.wizard-panel .input-append select:hover,
.wizard-panel .input-prepend select:hover,
.wizard-panel .input-append select:focus,
.wizard-panel .input-prepend select:focus {
  #005580
}

@media (min-width: 979px) {
  .wizard-panel input.text {
    width: 580px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .wizard-panel input.text {
    width: 380px;
  }
}

@media (max-width: 768px) {
  .wizard-panel .input-append input,
  .wizard-panel .input-append a,
  .wizard-panel .input-prepend input,
  .wizard-panel .input-prepend a,
  .wizard-panel .input-append select,
  .wizard-panel .input-prepend select {
    height: 18px;
    line-height: 18px;
    font-size: 16px;
  }
  .btn-prev {
    display: none;
  }
}
