<!DOCTYPE html>
<html lang="en-gb" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/fdp.css">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" type="image/png" href="/icon-rounded.png">
</head>
<body class="no-js" {% if page_id %}id="page-{{ page_id }}"{% endif %}>
  <header class="container-fluid site-header">
    <div class="container title-container">
      <div class="title-icon" aria-hidden="true">📜</div>
      <div class="title">
        <a href="/">
          Free Deed Poll
        </a>
      </div>
      <div class="subtitle">
        Legally change your name for free, as easy as
        <span style="white-space: nowrap;">1️⃣, 2️⃣, 3️⃣</span>
      </div>
    </div>
  </header>

  <nav class="container-fluid site-nav">
    <div class="container">
      <ul>
        <li class="with-next-step">
          <a href="/checklist" {% if '/checklist' in page.url %} aria-current="page"{% endif %}>1️⃣ Checklist</a>
        </li>
        <li class="with-next-step">
          <a href="/start" style="font-weight: bold;" {% if '/start' in page.url %} aria-current="page"{% endif %}>2️⃣ Change your name</a>
        </li>
        <li>
          <a href="/next" {% if '/next' in page.url %} aria-current="page"{% endif %}>3️⃣ Tell people</a>
        </li>
        <li>
          <a href="/help" role="button" class="outline" {% if '/help' in page.url %} aria-current="page"{% endif %}>❓ Help&nbsp;</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container site-main">
    {{ content | safe }}
  </main>

  <footer class="container-fluid site-footer">
    <div class="container">
      <ul>
        <li>
          {% copyright %}
        </li>
        <li>
          <a href="https://github.com/Dan-Q/freedeedpoll">open source</a>
        </li>
        <li>
          <a href="/privacy">privacy / cookies</a>
        </li>
      </ul>
    </div>
  </footer>

  <script src="/fdp.js"></script>
</body>
</html>
